@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'NanumSquareRound';
}

@media (max-width: 1000px) {
    .board_wrap {
        width: 100%;
        min-width: 320px;
        padding: 0 30px;
        box-sizing: border-box;
    }
	
	
 .btn-like {
    width: 30%;
    background-color: unset;
    border: 0;
	color: transparent;
	
	text-shadow: 0 0 2px rgba(255,255,255), 0 0 0 #000;
	/*
	background-color: #F8F8F8;
	*/
	font-size: 20px;
	
	margin: 0;
	padding: 0;
	/*
	font-size: 100%;
	*/
	font: inherit;
	vertical-align: baseline;

  }
  .btn-like:hover {
	text-shadow: 0 0 0 #ea0;
  }
  .btn-like.done {
	color: inherit;
	/*
	text-shadow: 0;
	*/
  }
  
  .btn-like.done:hover {
	color: transparent;
	text-shadow: 0 0 0 rgb(255, 255, 255);
  }
	
	
	
    .board_list .btn,
    .board_list .writer,
    .board_list .count {
        display: none;
    }

    .board_list .date {
        width: 40%;
    }

    .board_list .title {
        text-indent: 10px;
         width: 400px;
    }

    .board_list .top .title {
        text-indent: 0;
    }

    .board_page a {
        width: 26px;
        height: 26px;
    }

    .board_page a.bt {
        padding-top: 7px;
    }
    
    .board_page a.num {
        padding-top: 6px;
    }

    .board_view .info dl {
        width: 50%;
        padding: 0;
    }

    .board_view .info dl:nth-child(-n+2) {
        margin-bottom: 5px;
    }

    .board_view .info dl::before {
        display: none;
    }

    .board_view .info dl dt,
    .board_view .info dl dd {
        font-size: 1.2rem;
    }

    .board_write .info dl {
        width: 49%;
    }

    .board_write .info dl:first-child {
        margin-right: 2%;
    }

    .board_write .title dt,
    .board_write .info dt {
        display: none;
    }

    .board_write .title dd,
    .board_write .info dd {
        width: 100%;
    }

    .board_write .title input[type="text"],
    .board_write .info input[type="text"],
    .board_write .info input[type="password"] {
        width: 100%;
    }
}