@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'NanumSquareRound';
}

.header_wrap{
    margin: 0;
    display: flex;
    font-family: 'NanumSquareRound';
    border-bottom: 1px solid black;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: solid 1px rgba(160, 160, 160, 0.3);
    height: 3.5em;
    left: 0;
    line-height: 3.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.navbar_logo a{
    text-decoration: none;
    color: #2FD398;
    height: inherit;
    line-height: inherit;
    white-space: nowrap;
}

.navbar_menu a{
    text-decoration: none;
    color: black;
}

.navbar2{
    padding-left: 20px;
    padding-right: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;    
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-left: solid 1px rgba(160, 160, 160, 0.3);
    border-bottom: solid 1px rgba(160, 160, 160, 0.3);
    height: inherit;
    /* line-height: inherit; */
    margin-left: 1.5em;
    overflow: hidden;
    padding-left: 1.5em;
    margin-left: 0px;
    padding-left: 0px;
}

.navbar_logo{
    font-size: 24px;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.navbar_menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.navbar_menu li{
        /* padding: 8px 12px; */
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
        border-right: solid 1px rgba(160, 160, 160, 0.3);
        line-height: 1;
        margin-left: 1em;
        padding-right: 1em;
        flex-grow: 1;
        transition: 0.5s;
}

.navbar_icons{
    list-style: none;
    color: black;
    display: flex;
}

.navbar_icons li{
    padding: 8px 12px;
}

a.cm:hover{
    border-bottom-color: transparent;
    color: #2ebaae !important;
}
