@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
  
  }

  body {
    font-family: 'Noto Sans KR', sans-serif;
    background-image:#34495e;
  }
  
  .joinForm {
    position:absolute;
    width:400px;
    height:400px;
    padding: 30px, 20px;
    background-color:#FFFFFF;
    text-align:center;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    /* padding-bottom: 58px; */
  }
  
  .joinForm h2 {
    text-align: center;
    margin: 30px;
  }
  
  .textForm {
    border-bottom: 2px solid #adadad;
    margin: 15px;
    padding-top: 10px;
    height:45px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
  }
  
  
  .id {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:45px;
    background: none;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  .pw {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:45px;
    background: none;
    font-family: 'Noto Sans KR', sans-serif;
  }
 
  .area {
    width: 90px; 
    border: rgba(255, 255, 255, 0.0);
    font-family: 'Noto Sans KR', sans-serif;
    background: url('arrow.jp') no-repeat 95% 50%; 
/*     -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; */
    text-align: left;
    height: 3rem;
    font-size: 1rem;
    margin-right: 3rem;
  }

  .area2 {
    width: 90px; 
    border: rgba(255, 255, 255, 0.0);
    font-family: 'Noto Sans KR', sans-serif;
    background: url('arrow.jp') no-repeat 95% 50%; 
/*     border-radius: 0px; 
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; */
    text-align: left;
    height: 3rem;
    font-size: 1rem
  }  
  
  .btn {
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:40px;
    background: linear-gradient(125deg, #32be8f, #38d39f, #32be8f);
    background-position: left;
    background-size: 200%;
    color:white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    border-radius: 20px;
  }
  
  .btn:hover {
    background-position: right;
  }
