<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="database.Mapper">



<!-- 전체 지역 조회 -->
<resultMap id="selectAllArea" type="domain.AREA">
  <result property="b_cls" column="b_cls"/>
  <result property="s_cls" column="s_cls"/>
</resultMap>

<select id="selectAllArea" resultType="domain.AREA">
      SELECT B.B_CLS, A.S_CLS FROM B_CLS_AREA B JOIN AREA A ON B.B_CLS_NBR=A.B_CLS_NBR
</select>

<!-- 큰 단위 지역 조회 -->
<select id="selectAllBclsArea" resultType="string">
      SELECT B_CLS FROM B_CLS_AREA
</select>

<!-- 지역 번호 찾기 -->
<select id="matchAreaNbr" resultType="bigdecimal">
      SELECT A.AREA_NBR FROM B_CLS_AREA B JOIN AREA A ON B.B_CLS_NBR=A.B_CLS_NBR WHERE B_CLS=#{b_cls} AND S_CLS=#{s_cls}
</select>

<!-- 지역 번호로 큰 분류 지역 찾기 -->
<select id="matchBcls" resultType="string">
      SELECT B.B_CLS FROM B_CLS_AREA B JOIN AREA A ON B.B_CLS_NBR=A.B_CLS_NBR WHERE A.AREA_NBR=#{area_nbr}
</select>

<!-- 지역 번호로 큰 분류 지역 번호 -->
<select id="matchBcls_nbr" resultType="bigdecimal">
      SELECT B.B_CLS_NBR FROM B_CLS_AREA B JOIN AREA A ON B.B_CLS_NBR=A.B_CLS_NBR WHERE A.AREA_NBR=#{area_nbr}
</select>

<!-- 큰 분류 지역 이름으로 큰 분류 지역 번호 -->
<select id="matchBcls_nbr_fromSB" resultType="bigdecimal">
      SELECT B_CLS_NBR FROM B_CLS_AREA WHERE B_CLS=#{area}
</select>

<!-- 회원가입 (sequence로 번호 매김)-->
<insert id="insertMBR" parameterType="domain.MBR">
      insert into MBR values (mbr_seq.nextval,#{mbr_id},#{mbr_pw},#{area_nbr_for_mbr},null,null,'C')
</insert>

<!-- 로그인 -->
<select id="loginMBR" resultType="domain.MBR">
      SELECT mbr_nbr,mbr_type,mbr_id, mbr_pw, area_nbr_for_mbr, fav_list, dog_list  FROM MBR WHERE mbr_id=#{mbr_id} AND mbr_pw=#{mbr_pw}
</select>


<!--게시판 조회 wrt_type에 따라 nbr_for_wrt_type이 조회해야 할 컬럼이 변경됨-->
<resultMap id="selectWRT" type="domain.WRT">
  <result property="WRT_NBR" column="WRT_NBR"/>
  <result property="WRT_TTL" column="WRT_TTL"/>
  <result property="WRT_ATH" column="WRT_ATH"/>
  <result property="WRT_TIME" column="WRT_TIME"/>
</resultMap>
<select id="selectWRT" parameterType="hashmap" resultType="domain.WRT">
 SELECT WRT_NBR,WRT_TTL,WRT_ATH,WRT_TIME FROM WRT WHERE WRT_TYPE = #{wrt_type} AND COALESCE(B_CLS_NBR_FOR_WRT,WLK_RT_NBR_FOR_WRT,GRP_NBR_FOR_WRT)=#{nbr_for_wrt_type}
</select>


<!-- 목적지 찾기 -->
<select id="isWlkExist" resultType="bigdecimal">
      SELECT wlk_nbr from wlk where wlk_name=#{wlk_name}
</select>

<!-- (sequence로 번호 매김)-->
<insert id="insertWlk" parameterType="domain.WLK">
      insert into WLK values (wlk_seq.nextval,#{wlk_name},#{lat_for_wlk},#{lon_for_wlk},#{area_nbr_for_wlk})
</insert>

<!-- 산책로 이름 입력 -->
<insert id="insertWlk_rt_name" parameterType="domain.MTH_WLK_RT_NAME">
	insert into mth_wlk_rt_name  (WLK_RT_NBR,WLK_NBR_FOR_WLK_RT,WLK_RT_NAME) values (mth_wlk_rt_name_seq.nextval, #{wlk_nbr_for_wlk_rt},#{wlk_rt_name})
</insert>

<!-- 산책로 이름으로 산책로 번호 찾기 -->
<select id="isWlk_rt_Exist" resultType="bigdecimal">
      SELECT wlk_rt_nbr from mth_wlk_rt_name where wlk_rt_name=#{wlk_rt_name}
</select>

<!-- 산책로 입력 -->
<insert id="insertWlk_rt" parameterType="domain.WLK_RT">
	insert into WLK_RT (wlk_rt_nbr_for_wlk_rt,wlk_rt_path_nbr,lat_for_wlk_rt,lon_for_wlk_rt) values (#{wlk_rt_nbr_for_wlk_rt}, #{wlk_rt_path_nbr},  #{lat_for_wlk_rt},#{lon_for_wlk_rt})
</insert>

<!-- 지역별 산책로 목적지 리스트-->
<select id="WalkingRtListByArea" parameterType="int" resultType="domain.WLK">
      SELECT WLK_NBR, WLK_NAME, LAT_FOR_WLK, LON_FOR_WLK,area_nbr_for_wlk FROM WLK WHERE area_nbr_for_wlk=#{area_nbr}
</select>

<!--산책로 목적지에 따른 산책로 경로 리스트-->
<select id="selectWlkRtByWlk" parameterType="int" resultType="domain.MTH_WLK_RT_NAME">
      SELECT WLK_RT_NBR, WLK_NBR_FOR_WLK_RT, WLK_RT_NAME  FROM mth_wlk_rt_name WHERE wlk_nbr_for_wlk_rt=#{wlk_nbr_for_wlk_rt}
</select>

<!--산책로 경로에 따른 산책로 경로 위도.경도.순서-->
<resultMap id="WalkingRtPathByRtNbr" type="domain.WLK_RT">
  <result property="wlk_rt_nbr_for_wlk_rt" column="wlk_rt_nbr_for_wlk_rt"/>
  <result property="wlk_rt_path_nbr" column="wlk_rt_path_nbr"/>
  <result property="lat_for_wlk_rt" column="lat_for_wlk_rt"/>
  <result property="lon_for_wlk_rt" column="lon_for_wlk_rt"/>
</resultMap>
<select id="WalkingRtPathByRtNbr" parameterType="int" resultType="domain.WLK_RT">
      SELECT WLK_RT_NBR_FOR_WLK_RT, WLK_RT_PATH_NBR,LAT_FOR_WLK_RT, LON_FOR_WLK_RT FROM WLK_RT WHERE WLK_RT_NBR_FOR_WLK_RT = #{wlk_rt_nbr}
</select>

<!-- 지역 자유게시판 입력 -->
<insert id="insertWRTtoLoc" parameterType="domain.WRT">
	insert into WRT (WRT_NBR,WRT_TTL,WRT_CNT,WRT_ATH,WRT_TYPE,B_CLS_NBR_FOR_WRT,WRT_TIME) values (WRT_SEQ.NEXTVAL, #{wrt_ttl},  #{wrt_cnt},#{wrt_ath},1,#{nbr_for_wrt_type},SYSDATE)
</insert>


<!-- 산책로 리뷰 입력 -->
<insert id="insertWRTtoRv" parameterType="domain.WRT">
	insert into WRT (WRT_NBR,WRT_TTL,WRT_CNT,WRT_ATH,WRT_TYPE,wlk_rt_nbr_for_wrt,WRT_TIME) values (WRT_SEQ.NEXTVAL, #{wrt_ttl},  #{wrt_cnt},#{wrt_ath},2,#{nbr_for_wrt_type},SYSDATE)
</insert>

<!-- 모임 게시판 입력 -->
<insert id="insertWRTtoGrp" parameterType="domain.WRT">
	insert into WRT (WRT_NBR,WRT_TTL,WRT_CNT,WRT_ATH,WRT_TYPE,grp_nbr_for_wrt,WRT_TIME) values (WRT_SEQ.NEXTVAL, #{wrt_ttl},  #{wrt_cnt},#{wrt_ath},3,#{nbr_for_wrt_type},SYSDATE)
</insert>


<!--글 번호로 글 정보 가져오기-->
<select id="selectWRTbyWrtNbr" parameterType="int" resultType="domain.WRT">
      SELECT  FROM WRT WHERE wrt_nbr=#{wrt_nbr}
</select>




</mapper>