<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SetJoin</servlet-name>
  	<display-name>SetJoin</display-name>
  	<description></description>
  	<servlet-class>controller.SetJoin</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>Walking</servlet-name>
  	<display-name>Walking</display-name>
  	<description></description>
  	<servlet-class>controller.Walking</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Join</servlet-name>
  	<display-name>Join</display-name>
  	<description></description>
  	<servlet-class>controller.Join</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>controller.Login</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>Writing</servlet-name>
  	<display-name>Writing</display-name>
  	<description></description>
  	<servlet-class>controller.Writing</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckWalkingName</servlet-name>
  	<display-name>CheckWalkingName</display-name>
  	<description></description>
  	<servlet-class>controller.CheckWalkingName</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertWalking</servlet-name>
  	<display-name>InsertWalking</display-name>
  	<description></description>
  	<servlet-class>controller.InsertWalking</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateWalkingRT</servlet-name>
  	<display-name>CreateWalkingRT</display-name>
  	<description></description>
  	<servlet-class>controller.CreateWalkingRT</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SetArea</servlet-name>
  	<display-name>SetArea</display-name>
  	<description></description>
  	<servlet-class>controller.SetArea</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SetBclsArea</servlet-name>
  	<display-name>SetBclsArea</display-name>
  	<description></description>
  	<servlet-class>controller.SetBclsArea</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SetWalkingRtList</servlet-name>
  	<display-name>SetWalkingRtList</display-name>
  	<description></description>
  	<servlet-class>controller.SetWalkingRtList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SetWalkingRt</servlet-name>
  	<display-name>SetWalkingRt</display-name>
  	<description></description>
  	<servlet-class>controller.SetWalkingRt</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SetWalkingRtPath</servlet-name>
  	<display-name>SetWalkingRtPath</display-name>
  	<description></description>
  	<servlet-class>controller.SetWalkingRtPath</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateWriting</servlet-name>
  	<display-name>CreateWriting</display-name>
  	<description></description>
  	<servlet-class>controller.CreateWriting</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowWritingContent</servlet-name>
  	<display-name>ShowWritingContent</display-name>
  	<description></description>
  	<servlet-class>controller.ShowWritingContent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SetWalkingRTRVList</servlet-name>
  	<display-name>SetWalkingRTRVList</display-name>
  	<description></description>
  	<servlet-class>controller.SetWalkingRTRVList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SetDogList</servlet-name>
  	<display-name>SetDogList</display-name>
  	<description></description>
  	<servlet-class>controller.SetDogList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PlusDog</servlet-name>
  	<display-name>PlusDog</display-name>
  	<description></description>
  	<servlet-class>controller.PlusDog</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>minusDog</servlet-name>
  	<display-name>minusDog</display-name>
  	<description></description>
  	<servlet-class>controller.minusDog</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Record</servlet-name>
  	<display-name>Record</display-name>
  	<description></description>
  	<servlet-class>controller.Record</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowRecord</servlet-name>
  	<display-name>ShowRecord</display-name>
  	<description></description>
  	<servlet-class>controller.ShowRecord</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PlusFavList</servlet-name>
  	<display-name>PlusFavList</display-name>
  	<description></description>
  	<servlet-class>controller.PlusFavList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MinusFavList</servlet-name>
  	<display-name>MinusFavList</display-name>
  	<description></description>
  	<servlet-class>controller.MinusFavList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetId</servlet-name>
  	<display-name>GetId</display-name>
  	<description></description>
  	<servlet-class>controller.GetId</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetWlkRTName</servlet-name>
  	<display-name>GetWlkRTName</display-name>
  	<description></description>
  	<servlet-class>controller.GetWlkRTName</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>insertCMT</servlet-name>
  	<display-name>insertCMT</display-name>
  	<description></description>
  	<servlet-class>controller.insertCMT</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>setCMT</servlet-name>
  	<display-name>setCMT</display-name>
  	<description></description>
  	<servlet-class>controller.setCMT</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCMT</servlet-name>
  	<display-name>DeleteCMT</display-name>
  	<description></description>
  	<servlet-class>controller.DeleteCMT</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteWRT</servlet-name>
  	<display-name>DeleteWRT</display-name>
  	<description></description>
  	<servlet-class>controller.DeleteWRT</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SetUpdateWRT</servlet-name>
  	<display-name>SetUpdateWRT</display-name>
  	<description></description>
  	<servlet-class>controller.SetUpdateWRT</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateWRT</servlet-name>
  	<display-name>UpdateWRT</display-name>
  	<description></description>
  	<servlet-class>controller.UpdateWRT</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchWRT</servlet-name>
  	<display-name>SearchWRT</display-name>
  	<description></description>
  	<servlet-class>controller.SearchWRT</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin</servlet-name>
  	<display-name>Admin</display-name>
  	<description></description>
  	<servlet-class>controller.Admin</servlet-class>
  </servlet>


 
  <servlet-mapping>
  	<servlet-name>SetJoin</servlet-name>
  	<url-pattern>/SetJoin</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>Walking</servlet-name>
  	<url-pattern>/Walking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Join</servlet-name>
  	<url-pattern>/Join</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>Writing</servlet-name>
  	<url-pattern>/Writing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckWalkingName</servlet-name>
  	<url-pattern>/CheckWalkingName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertWalking</servlet-name>
  	<url-pattern>/InsertWalking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateWalkingRT</servlet-name>
  	<url-pattern>/CreateWalkingRT</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SetArea</servlet-name>
  	<url-pattern>/SetArea</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SetBclsArea</servlet-name>
  	<url-pattern>/SetBclsArea</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SetWalkingRtList</servlet-name>
  	<url-pattern>/SetWalkingRtList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SetWalkingRt</servlet-name>
  	<url-pattern>/SetWalkingRt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SetWalkingRtPath</servlet-name>
  	<url-pattern>/SetWalkingRtPath</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateWriting</servlet-name>
  	<url-pattern>/CreateWriting</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowWritingContent</servlet-name>
  	<url-pattern>/ShowWritingContent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SetWalkingRTRVList</servlet-name>
  	<url-pattern>/SetWalkingRTRVList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SetDogList</servlet-name>
  	<url-pattern>/SetDogList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PlusDog</servlet-name>
  	<url-pattern>/PlusDog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>minusDog</servlet-name>
  	<url-pattern>/minusDog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Record</servlet-name>
  	<url-pattern>/Record</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowRecord</servlet-name>
  	<url-pattern>/ShowRecord</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PlusFavList</servlet-name>
  	<url-pattern>/PlusFavList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MinusFavList</servlet-name>
  	<url-pattern>/MinusFavList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetId</servlet-name>
  	<url-pattern>/GetId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetWlkRTName</servlet-name>
  	<url-pattern>/GetWlkRTName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>insertCMT</servlet-name>
  	<url-pattern>/insertCMT</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>setCMT</servlet-name>
  	<url-pattern>/setCMT</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCMT</servlet-name>
  	<url-pattern>/DeleteCMT</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteWRT</servlet-name>
  	<url-pattern>/DeleteWRT</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SetUpdateWRT</servlet-name>
  	<url-pattern>/SetUpdateWRT</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateWRT</servlet-name>
  	<url-pattern>/UpdateWRT</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchWRT</servlet-name>
  	<url-pattern>/SearchWRT</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin</servlet-name>
  	<url-pattern>/Admin</url-pattern>
  </servlet-mapping>


 
</web-app>
